Source: notifyd
Section: net
Priority: optional
Maintainer: NuDanOS Maintainers <jon@fernandez.tech>
Build-Depends: debhelper-compat (= 13),
 dh-golang,
 dh-vci,
 dh-yang,
 golang-any,
 golang-github-danos-encoding-rfc7951-dev,
 golang-github-danos-utils-args-dev,
 golang-github-danos-vci-dev,
 golang-github-fsnotify-fsnotify-dev,
 golang-github-go-ini-ini-dev,
 golang-jsouthworth-etm-dev,
 golang-jsouthworth-immutable-dev
Standards-Version: 4.7.2
Rules-Requires-Root: no
Vcs-Git: https://github.com/nudanos/notifyd.git
Vcs-Browser: https://github.com/nudanos/notifyd

Package: notifyd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: VCI component to call scripts when events happen
 A VCI component that calls scripts when notifications occur

Package: notifyd-v1-yang
Architecture: all
Depends: ${misc:Depends}
Section: admin
Description: notifyd-v1 module
 The YANG module for notifyd-v1
